* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
.icon48{
    width: 38px;
}
.icon52{
    width: 44px;
}
/* Hero Section */
.hero-section{
    background-image: url(../img/c17.jpg)
}

.media-1{
    background-image: url(../img/b0.jpg)
}
.media-2{
    background-image: url(../img/b1.jpg)
}
.media-3{
    background-image: url(../img/b2.jpg)
}
.media-4{
    background-image: url(../img/b3.jpg)
}
.media-5{
    background-image: url(../img/b4.jpg)
}
.media-6{
    background-image: url(../img/b5.jpg)
}
.media-7{
    background-image: url(../img/b6.jpg)
}
.media-8{
    background-image: url(../img/b7.jpg)
}
.media-9{
    background-image: url(../img/b8.jpg)
}
.media-10{
    background-image: url(../img/b9.jpg)
}
.media-11{
    background-image: url(../img/b10.jpg)
}
.media-12{
    background-image: url(../img/b11.jpg)
}
.media-13{
    background-image: url(../img/b12.jpg)
}
.media-14{
    background-image: url(../img/b13.jpg)
}
.media-15{
    background-image: url(../img/b14.jpg)
}
.media-16{
    background-image: url(../img/b15.jpg)
}
.media-17{
    background-image: url(../img/b18.jpg)
}
.media-18{
    background-image: url(../img/b17.jpg)
}
.media-19{
    background-image: url(../img/b20.jpg)
}
.media-20{
    background-image: url(../img/b17.jpg)
}
.media-21{
    background-image: url(../img/b19.jpg)
}